.sectionContainer {
  width: 700px;
  margin-bottom: 4.25rem;

  a {
    display: block;

    & + a {
      margin-top: 2rem;
    }
  }

  strong {
    display: block;
    color: var(--heading);
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 1rem;
    line-height: 2.118125rem;
    transition: color 0.2s;
  }

  strong:hover {
    color: var(--highlight);
  }

  p {
    color: var(--body);
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 0.2rem;
    line-height: 1.36125rem;
  }
}

.showMore {
  color: var(--highlight);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.36125rem;
  cursor: pointer;
}
