.container {
  margin: 0 auto;
  padding: 5rem 0;

  img {
    width: 100%;
  }
}

.content {
  max-width: 1120px;
  margin: 0 auto;
  padding: 5rem 14rem;

  .editedAt {
    margin-top: 1.125rem;
    margin-bottom: 4.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--info);
    font-style: italic;
  }
}

.title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.63rem;
  color: var(--heading);
}

.postSection {
  strong {
    display: block;
    color: var(--heading);
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2.8rem;
    line-height: 2.118125rem;
    transition: color 0.2s;
  }

  .postBody {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5625rem;
    color: var(--body);

    p,
    ul {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }

    a {
      color: var(--highlight);
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--border);
  padding: 0 14rem;

  h3 {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--heading);
    margin-bottom: 0.5rem;
  }

  a {
    color: var(--highlight);
    font-weight: 600;
  }

  div + div {
    text-align: right;
  }
}
